<div class="mdl-layout__tab-panel is-active" id="overview">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" *ngFor="let note of notes | async">
        <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
            <i class="material-icons">speaker_notes</i>
        </header>
        <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__supporting-text">
                <h4>{{note.title}}</h4>
                {{note.note}}
            </div>
            <div class="mdl-card__menu">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-1">
                    <input type="checkbox" class="mdl-checkbox__input" id="list-checkbox-1" #selectedBox [checked]="picked" (change)="noteSelected(note, selectedBox)" />
                </label>
            </div>
        </div>
    </section>
    <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple (click)="participate()">
                    Participate
                </button>
</div>