<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    </div>
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      <h3>Famous Note "Let's change your world thru words" </h3>
    </div>
    <div class="mdl-layout__tab-bar mdl-grid mdl-grid--no-spacing mdl-js-ripple-effect mdl-color--primary-dark">
      <div class="mdl-cell--8-col-desktop mdl-cell--7-col-tablet mdl-cell--6-col-phone">
        <a [routerLink]="['/']" class="mdl-layout__tab" routerLinkActive="is-active">Open Challenges<span class="mdl-ripple"></span></a>
        <a [routerLink]="['home/current']" class="mdl-layout__tab" routerLinkActive="is-active">Current Challanges<span class="mdl-ripple"></span></a>
        <a [routerLink]="['/notes']" class="mdl-layout__tab">My Notes<span class="mdl-ripple"></span></a>
        <a class="mdl-layout__tab">Profile</a>
        <a [routerLink]="['/about']" class="mdl-layout__tab" routerLinkActive="is-active" class="mdl-layout__tab">About</a>
      </div>
      <div *ngIf="_user">
        <img [src]="_user.profile.picture[0]" class="demo-avatar">
        <a [routerLink]="['/logout']" class="mdl-layout__tab" routerLinkActive="is-active" class="mdl-layout__tab">{{_user.profile.name}}</a>
      </div>
      <button [routerLink]="'/notes/save'" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent"
        id="add">
        <i class="material-icons" role="presentation">add</i>
        <span class="visuallyhidden">Add</span>
        </button>
    </div>
  </header>
  <main class="mdl-layout__content">
    <router-outlet></router-outlet>
    <footer class="mdl-mega-footer">
      <div class="mdl-mega-footer--middle-section">
        <div class="mdl-mega-footer--drop-down-section">
          <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer--heading">Features</h1>
          <ul class="mdl-mega-footer--link-list">
            <li><a href="#">About</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Updates</a></li>
          </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
          <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer--heading">Details</h1>
          <ul class="mdl-mega-footer--link-list">
            <li><a href="#">Spec</a></li>
            <li><a href="#">Tools</a></li>
            <li><a href="#">Resources</a></li>
          </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
          <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer--heading">Technology</h1>
          <ul class="mdl-mega-footer--link-list">
            <li><a href="#">How it works</a></li>
            <li><a href="#">Patterns</a></li>
            <li><a href="#">Usage</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Contracts</a></li>
          </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
          <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer--heading">FAQ</h1>
          <ul class="mdl-mega-footer--link-list">
            <li><a href="#">Questions</a></li>
            <li><a href="#">Answers</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>
      </div>
      <div class="mdl-mega-footer--bottom-section">
        <div class="mdl-logo">
          More Information
        </div>
        <ul class="mdl-mega-footer--link-list">
          <li><a href="https://developers.google.com/web/starter-kit/">Web Starter Kit</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Privacy and Terms</a></li>
        </ul>
      </div>
    </footer>
  </main>
</div>