<div class="mdl-layout__tab-panel is-active" id="overview">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <form #form="ngForm">
            <p>
                <mdl-textfield label="Title" type="text" name="Title" floating-label [(ngModel)]="noteModel.title" required></mdl-textfield>
            </p>
            <p>
                <mdl-textfield label="Note" type="text" rows="3" maxrows="3" name="Note" floating-label [(ngModel)]="noteModel.note" required></mdl-textfield>
            </p>
            <p>
                <button mdl-button (click)="onSubmit()" [disabled]="form.invalid" mdl-button-type="raised" mdl-ripple mdl-colored="primary">Submit</button>
            </p>
        </form>
    </section>
</div>