<div class="mdl-layout__tab-panel is-active" id="overview">
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text">
        <h4>Please login to put some "famous Note ;-)"</h4>
        <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple (click)="startSigninMainWindow()" id='startSigninMainWindow'>
                    Start signin
                </button>
      </div>
    </div>
  </section>
</div>